.gordo{
	font-size: 56px;
}
.anularejilla{
	padding: 0 15px;
}
.vertical-align {
	padding-top:25px;
    display: inline-block;
    align-items: center;
}
.tituloencabezado{
	/*margin-left:-45px;*/
}
.separar{
    margin-top: 10px;
}
a.text-white:hover, a.text-white:focus{
    color:#fff;
}
a.text-white{
     color:#fff;
}
.r{
	background-color:red;
        color: black;
}
.b{
	background-color:#3399ff;
        color: black;
}
.y{
	background-color:yellow;
        color: black;
}
.g{
	background-color:#00b300;
        color: black;
}
.w{
	
	color:black;
}
a.text-black:hover, a.text-black:focus{
    color:blue;
}