.gordo{
	font-size: 56px;
}
.anularejilla{
	padding: 0 15px;
}
.vertical-align {
	padding-top:25px;
    display: inline-block;
    align-items: center;
}
.tituloencabezado{
	margin-left:-45px;
}